<div class="row">
    <div class="col-3">
        <ul>
            @for (item of userList(); track $index) {
            <li>{{item.name}}</li>
            }
        </ul>
    </div>
</div>

<hr>
<hr>

<div class="col-8">
    <table>
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Vendor Name</th>
                <th>Contact</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @for (item of vendorList(); track $index) {
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.vendorName}}</td>
                <td>{{item.contactNo}}</td>
                <td>{{item.emailId}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- <div class="row">
    <div class="col-3">
        <ul>
            @for (photo of photoList(); track $index) {
            <li>{{photo.title}}</li>
            }
        </ul>
    </div>
</div> -->