<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">
                Client List
            </div>
            <div class="card-body">
                <div class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Client id</th>
                            <th>Client Name</th>
                            <th>Business Name</th>
                            <th>Contact Person</th>
                            <th>Contact No</th>
                            <th>Email</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of clientList(); track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.clientName}}</td>
                            <td>{{item.businessName}}</td>
                            <td>{{item.contactPerson}}</td>
                            <td>{{item.contactNo}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.createdDate | json}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="onEdit(item)">Edit</button>
                                <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>                                
                            </td>
                        </tr>
                        }
                    </tbody>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning">
                New Company
            </div>
            <div class="card-body">
                <form>
                    <div class="container">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h5 class="mb-0">Client Details</h5>
                            </div>

                            <div class="card-body">
                                <!-- Row 1 -->
                                <div class="row mb-3">
                                    <!-- <div class="col-md-6">
                                        <label for="clientId" class="form-label">Client id</label>
                                        <input type="number" [(ngModel)]="newClientObj.clientId" name="clientId"
                                            id="clientId" class="form-control" placeholder="Enter Client id" />
                                    </div> -->

                                    <div class="col-md-6">
                                        <label for="clientName" class="form-label">Client Name</label>
                                        <input type="text" #clientName="ngModel" [(ngModel)]="newClientObj.clientName"
                                            name="clientName" class="form-control" placeholder="Enter Company Name"
                                            required minlength="5" />
                                        <div class="text-danger">
                                            @if (clientName.errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (clientName.errors?.['minlength']) {
                                            <span>Min 5 Char is required</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <!-- Row 2 -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="businessName" class="form-label">Business Name</label>
                                        <input type="text" #businessName="ngModel"
                                            [(ngModel)]="newClientObj.businessName" name="businessName"
                                            id="businessName" class="form-control" placeholder="Enter Pin Code" required
                                            minlength="6" />
                                        <div class="text-danger">
                                            @if (businessName.errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (businessName.errors?.['minlength']) {
                                            <span>Min 6 Char is required</span>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="contactPerson" class="form-label">Contact Person</label>
                                        <input type="text" #contactPerson="ngModel"
                                            [(ngModel)]="newClientObj.contactPerson" name="contactPerson"
                                            id="contactPerson" class="form-control"
                                            placeholder="Enter contactPerson Number" required minlength="10"
                                            maxlength="10" />
                                        <div class="text-danger">
                                            @if (contactPerson.errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (contactPerson.errors?.['minlength']) {
                                            <span>Min 10 Char is required</span>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <!-- Row 3 -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="contactNo" class="form-label">Contact No</label>
                                        <input type="number" [(ngModel)]="newClientObj.contactNo" name="contactNo"
                                            id="contactNo" class="form-control" placeholder="Enter Client id" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="altContactNo" class="form-label">Alternate Contact</label>
                                        <input type="number" #altContactNo="ngModel"
                                            [(ngModel)]="newClientObj.altContactNo" name="altContactNo"
                                            id="altContactNo" class="form-control"
                                            placeholder="Enter altContactNo Number" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" [(ngModel)]="newClientObj.email" name="email" id="email"
                                            class="form-control" placeholder="Enter email id" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="logo" class="form-label">logo</label>
                                        <input type="text" [(ngModel)]="newClientObj.logo" name="logo" id="logo"
                                            class="form-control" placeholder="Enter logo id" />
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer text-end">
                                <button type="button" (click)="onSaveClient()" class="btn btn-primary">
                                    Save
                                </button>
                                <button type="button" class="btn btn-secondary me-2">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>