<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-primary">
                    Customer List
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary text-white">
                                <h5 class="mb-0">User Details</h5>
                            </div>

                            <div class="card-body">
                                <div class="row">

                                    <!-- User ID -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">User ID</label>
                                        <input type="number" class="form-control" formControlName="userId"
                                            placeholder="Enter User ID">
                                    </div>

                                    <!-- User Name -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">User Name</label>
                                        <input type="text" class="form-control" formControlName="userName"
                                            placeholder="Enter User Name">
                                        <div class="text-danger">
                                            @if (userForm.controls['userName'].errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (userForm.controls['userName'].errors?.['minlength']) {
                                            <span>Min 4 char needed</span>
                                            }
                                        </div>
                                    </div>

                                    <!-- Full Name -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" class="form-control" formControlName="fullName"
                                            placeholder="Enter Full Name">
                                            <div class="text-danger">
                                            @if (userForm.controls['fullName'].errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (userForm.controls['fullName'].errors?.['minlength']) {
                                            <span>Min 4 char needed</span>
                                            }
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Email ID</label>
                                        <input type="email" class="form-control" formControlName="emailId"
                                            placeholder="Enter Email Address">
                                            <div class="text-danger">
                                            @if (userForm.controls['emailId'].errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (userForm.controls['emailId'].errors?.['email']) {
                                            <span>Email is required</span>
                                            }
                                        </div>
                                    </div>

                                    <!-- Password -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control" formControlName="password"
                                            placeholder="Enter Password">
                                            <div class="text-danger">
                                            @if (userForm.controls['password'].errors?.['required']) {
                                            <span>This is required</span>
                                            }
                                            @if (userForm.controls['password'].errors?.['minlength']) {
                                            <span>Min 4 char needed</span>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-footer text-end">
                                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary me-2">
                                    Save
                                </button>

                                <button type="reset" class="btn btn-secondary">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>